<%- include('../header.ejs') %> 

 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Nova categoria</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg mt-5 mt-lg-0 d-flex align-items-stretch">
        <form method="POST" role="form" class="form-create">
            <div class="form-group mt-3">
              <label for="name">Titulo da Categoria</label>
              <input type="text" class="form-control" name="categoria" id="subject" value="<%= categoria.categoria %>" required>
            </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

</main><!-- End #main -->
<%- include('../footer.ejs') %> 